:root {
  --khaki: #A09B83;
  --bole: #6C3D29;
  --azure: #38608A;
  --sky: #5ec9f7;
  --moss: #829240;
  --ecru: #C4A97C;
  --white: #FFFFFF;
  --black: #000000;
}

h1 {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  box-shadow: #A09B83;
}

h2 {
  color: var(--white);
  text-align: center;
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  background: linear-gradient(0deg,
      var(--moss),
      var(--sky) 50%);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

a:hover {
  color: var(--ecru);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: fit-content;
}

footer {
  position: absolute;
  height: 50px;
  bottom: 10px;
  text-align: center;
  color: var(--black);
  font-size: 1em;
  border-top: solid 1px var(--white);
  padding-top: 10px;

}

button:active {
  transform: translateY(2px);
}

.top-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 900px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 80px;
  padding-top: 5px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
  visibility: hidden;
}

.screen-container {
  height: 500px;
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  visibility: hidden;
  height: 250px;
  width: 400px;
  padding: 20px;
  background-color: var(--ecru);
  border: solid 2px var(--bole);
  border-radius: 15px;
  grid-column: 2;
  grid-row: 2;
}

.close-button {
  align-self: flex-end;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.help-content {
  height: 200px;
  text-align: justify;
}

.help-content .page:not(:first-child) {
  display: none;
}

.help-navigation {
  margin-bottom: 5px;
}

.banner-container {
  visibility: hidden;
  height: auto;
  width: 400px;
  padding: 20px;
  margin-top: 0;
  background-color: var(--moss);
  border: solid 2px var(--white);
  border-radius: 15px;
  grid-column: 2;
  grid-row: 2;
  text-align: justify;
}

.banner-container p,
h2 {
  color: var(--black);
}

.button-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  grid-column: 2;
  grid-row: 3;
}

#game-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 100vh;
  justify-content: center;
  padding-bottom: 50px;
  box-sizing: border-box;

}

#game {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  box-shadow: 0px 10px 15px var(--black);
  border-radius: 20px;
  border: solid 5px var(--bole);

}

#timer-text {
  margin-bottom: 0;
  margin-top: 1px;
  text-transform: uppercase;
}

#timer {
  font-size: 40px;
  font-weight: bold;
  margin: 5px;
  visibility: hidden;
}

#startButton,
#helpButton,
.help-nav-button,
#continueButton,
#restartButton,
#startAgainButton,
.timer-container {
  background-color: var(--white);
  border: solid 2px var(--black);
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

#startButton,
#restartButton,
#continueButton {
  min-width: 250px;
  padding: 1rem;
}

#startButton {
  align-self: center;
}

#helpButton,
#startAgainButton {
  padding: 1rem;
  min-width: 100px;
  height: 50px;
}

#startAgainButton {
  translate: 200px;
  display: none;
}

#continueButton {
  display: none;
}

#restartButton {
  display: none;
}