:root {
  --khaki: #A09B83;
  --bole: #6C3D29;
  --azure: #38608A;
  --sky: #5ec9f7;
  --moss: #829240;
  --ecru: #C4A97C;
  --white: #FFFFFF;
  --black: #000000;
}

h1 {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  box-shadow: #A09B83 ;
}

h2 {
  color: var(--white);
  text-align: center;
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  background: linear-gradient(0deg,
      var(--moss),
      var(--sky) 50%);
  overflow: hidden;
}

header {
  margin-top: 30px;
}

main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  height: fit-content;
  min-height: fit-content;
}

footer {
  position: absolute;
   height: 50px;
   bottom: 10px;
}

button:active {
  transform: translateY(4px);
}

.top-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 900px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 80px;
  padding-top: 5px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
  visibility: hidden;
}

.game-container {
  height: 500px;
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.help {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  /* visibility: hidden; */
  height: 250px;
  width: 400px;
  padding: 20px;
  background-color: var(--ecru);
  border: solid 2px var(--bole);
  border-radius: 15px;
  grid-column: 2;
  grid-row: 2;
}

.help-content {
  height: 200px;
  text-align: justify;
}

.help-content .page:not(:first-child) {
  display: none;
}

.help-navigation {
  margin-bottom: 5px;
}

.banner-container {
  visibility: hidden;
  height: auto;
  width: 400px;
  padding: 20px;
  margin-top: 0;
  background-color: var(--moss);
  border: solid 2px var(--white);
  border-radius: 15px;
  grid-column: 2;
  grid-row: 2;
}

.banner-container p, h2 {
  color: var(--black);
}

.button-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  grid-column: 2;
  grid-row: 3;
}

#game {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  box-shadow: 0px 10px 15px var(--black);
  border-radius: 20px;
  border: solid 5px var(--bole);
  
}

#timer-text {
  margin-bottom: 0;
  margin-top: 1px;
  text-transform: uppercase;
}

#timer {
  visibility: visible;
  font-size: 40px;
  font-weight: bold;
  margin: 5px;
  visibility: hidden;
}

#footer-text {
  color: var(--black);
  text-align: center;
  font-size: 1em;
}

#startButton, #helpButton, .help-nav-button, #continueButton, #restartButton, .timer-container {
  background-color: var(--white);
  border: solid 2px var(--black);
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

#startButton, #restartButton, #continueButton {
  min-width: 250px;
  padding: 1rem;
}

#startButton {
  position: absolute;
  align-self: center;
  visibility: visible;
}

#helpButton {
  padding: 1rem;
  width: 100px;
}

#continueButton {
  visibility: hidden;
}

#restartButton {
  visibility: hidden;
}

